#connect-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-auto-flow: column;
    grid-gap: 10px;
    margin-bottom: 15px;
  }
  
  #options-area {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    column-gap: 3rem;
    row-gap: 1rem;
    margin-bottom: 10px;
  }
  
  #actions-area {
    display: grid;
    grid-template-columns: fit-content(100px) auto;
    grid-gap: 1.25rem;
    margin-bottom: 15px;
  }
  
  #inputs-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25rem;
    margin-bottom: 10px;
  }
  
  #chat-input-area {
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: auto min-content;
    gap: 1.25rem;
  }
  
  #screenshare-area {
    position: relative;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    display: none;
  }
  
  #screenshare-area video {
    max-width: 900px;
    max-height: 900px;
    border: 3px solid rgba(0, 0, 0, 0.5);
  }
  
  #participants-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  ::ng-deep  #participants-area > .participant {
    width: 100%;
  }
  
  ::ng-deep  #participants-area > .participant::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (16 / 9));
  }
  
  #log-area {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
  }
  
  #log {
    width: 66.6%;
    height: 100px;
  }
  
  ::ng-deep  .participant {
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0, 0);
    overflow: hidden;
  }
  
  ::ng-deep  .participant video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    object-fit: cover;
    border-radius: 5px;
  }
  
  ::ng-deep  .participant .info-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: grid;
    color: #eee;
    padding: 2px 8px 2px 8px;
    background-color: rgba(0, 0, 0, 0.35);
    grid-template-columns: minmax(50px, auto) 1fr minmax(50px, auto);
    z-index: 5;
  }
  
  ::ng-deep .participant .size {
    text-align: center;
  }
  
  ::ng-deep .participant .right {
    text-align: right;
    padding-right: 10px;
  }
  
  ::ng-deep .participant.speaking {
    border: 3px solid rgba(0, 111, 147, 0.7);
  }
  
  ::ng-deep .participant .mic-off {
    text-align: right !important;
  }
  
  ::ng-deep .participant .mic-on {
    text-align: right !important;
  }
  
  ::ng-deep .participant .connection-excellent {
    color: green !important;
  }
  
  ::ng-deep .participant .connection-good {
    color: orange !important;
  }
  
  ::ng-deep .participant .connection-poor {
    color: red !important;
  }
  ::ng-deep .participant .right i {
    margin-right: 5px;
}
  ::ng-deep .participant .volume-control {
    position: absolute;
    top: 4px;
    right: 2px;
    display: flex;
    z-index: 4;
    height: 100%;
  }
  
  ::ng-deep .participant .volume-control > input {
    width: 16px;
    height: 40%;
    -webkit-appearance: slider-vertical; /* Chromium */
  }
  
  ::ng-deep .participant .volume-meter {
    position: absolute;
    z-index: 4;
  }
  ::ng-deep #local-volume {
    display: block;
    width: 100%; /* Or whatever width you want */
    height: 20px; /* Or whatever height you want */
    margin-top: 10px; /* Adjust as needed */
    /* Add any other styles you might need */
}
  